/* Mobile devices (portrait) */
@media screen and (width < 720px) and (orientation: portrait) {
	.phearion-logo {
		width: 21vw;
	}

	.catchphrase {
		font-size: 6vw;
	}
}

/* Mobile - Galaxy fold (portrait) */
@media screen and (width <= 280px) and (orientation: portrait) {
	.phearion-logo {
		width: 21vw;
	}

	.catchphrase {
		font-size: 6vw;
	}
}

/* Mobile screens (landscape) */
@media screen and (width <= 1025px) and (height <= 540px) and (orientation: landscape) {
	.phearion-logo {
		width: 12vw;
	}

	.catchphrase {
		font-size: 2.5vw;
	}
}

/* Mobile small screens + Galaxy Fold (landscape) */
@media screen and (width <= 719px) and (orientation: landscape) {
	.phearion-logo {
		width: 10vw;
	}

	.catchphrase {
		font-size: 2.5vw;
	}
}
