@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #060c1a;
	height: 100vh;
	overflow-y: hidden;
}

/* Common styles */
.header {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	z-index: 999;
}

.student-word-one {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.bb-title {
	font-family: Kanit, cursive;
	color: white;
	text-align: center;
	transform: translateY(50%);
	z-index: 999;
}

.slogan {
	width: 100%;
	font-family: Caveat, cursive;
	color: #737593;
	text-align: center;
	transform: translateY(-100%);
}

.hamburger-menu-container {
	display: flex;
	position: absolute;
	width: 2%;
	height: 2%;
	top: 5vw;
	left: 5vw;
}

.mb-line {
	position: absolute;
	width: 100%;
	height: 0.3vw;
	background-color: #fff;
}

.mb-line:nth-child(1) {
	transform: translateY(0.8vw);
}

.mb-line:nth-child(2) {
	transform: translateY(1.6vw);
}

.hamburger-menu-container:hover {
	cursor: pointer;
}

.cross-menu {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5vw;
	left: 5vw;
}

.cross-menu::before,
.cross-menu::after {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	height: 30px;
	width: 2px;
	background-color: #fff;
}

.cross-menu::before {
	transform: rotate(45deg);
}

.cross-menu::after {
	transform: rotate(-45deg);
}

.cross-menu:hover::before,
.cross-menu:hover::after {
	cursor: pointer;
	background-color: #2e00ff;
}

.menu-div {
	display: none;
	position: absolute;
	flex-direction: column;
	background: #000;
	width: 40%;
	height: 100%;
	transform: translateX(-50%);
	overflow: hidden auto;
}

.menu-div.show {
	display: flex;
	z-index: 99998;
	animation: slide-in-menu 1s ease-in-out forwards;
	width: 40%;
}

.menu-div.hide {
	animation: slide-out-menu 1s ease-in-out forwards;
}

.choice-div {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.choice-div-title {
	display: flex;
	justify-content: center;
	font-family: 'EB Garamond', serif;
	font-size: 1.75vw;
	font-weight: bold;
	color: #fff;
	padding-top: 5vw;
	padding-bottom: 5vw;
	letter-spacing: 0.2vw;
}

.choice-text {
	font-family: 'EB Garamond', serif;
	font-size: 1.5vw;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-top: 2vw;
	padding-bottom: 2vw;
	padding-left: 2vw;
	letter-spacing: 0.6vw;
}

.first-choice {
	animation: slide-in-choices 1.25s ease-in-out forwards;
}

.second-choice {
	animation: slide-in-choices 1.5s ease-in-out forwards;
}

.choice-text:hover {
	cursor: pointer;
	color: #2e00ff;
}

.background-img {
	position: absolute;
	transform: translate(-50%, -50%);
	opacity: 0.2;
}

.background-img-disappear {
	display: none;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.input-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.input-text {
	height: 100%;
	width: 100%;
	border-radius: 50px;
	border: none;
	transition: 0.2s;
	box-shadow: inset 0 0 5px black;
	padding-left: 10px;
}

.input-text:focus {
	outline: none;
}

.send-btn {
	border-radius: 50px;
	border: none;
	background-color: #4660c8;
	color: white;
	transition: 0.2s all;
	box-shadow: 0 0 5px black;
}

.send-btn:hover {
	background-color: #4c4d51;
	cursor: pointer;
}

.send-btn:active {
	box-shadow: 0 0 5px black inset;
}

.send-btn-appear {
	display: flex;
}

.send-btn-disappear {
	display: none;
}

.button-img {
	height: 50%;
	width: 50%;
	aspect-ratio: auto;
	margin: auto;
}

.loader-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.loader-container-appear {
	display: flex;
}

.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	color: #b946ff;
}

.loader::before,
.loader::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
}

.loader::after {
	color: #2e00ff;
	transform: rotateY(70deg);
	animation-delay: 0.4s;
}

.tips {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	font-family: 'Indie Flower', cursive;
	color: #737593;
}

.output {
	z-index: 999;
	position: fixed;
	display: none;
	flex-direction: column;
	border-radius: 30px;
	color: white;
	padding: 1% 2%;
	overflow-y: auto;
}

.output-appear {
	display: flex;
}

.bb-answer-container,
.student-request-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.student-request-container {
	margin-bottom: 5px;
}

.bb-answer,
.student-question {
	margin-left: 20px;
	word-wrap: break-word;
}

.icon-link {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.icon-link-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
	margin-left: 3.2vw;
}

.dl-btn {
	background: none !important;
	border: none;
	color: #fff;
	cursor: pointer;
	text-align: left;
}

.history-container {
	display: none;
	flex-direction: column;
	position: fixed;
	right: 0;
	width: 45%;
	height: 100%;
	background-color: #000;
	z-index: 9999;
	transform: translateX(100%);
	overflow: hidden auto;
}

.history-container.show {
	display: flex;
	z-index: 9999;
	animation: slide-in-history 0.8s ease-in-out forwards;
	width: 45%;
}

.history-container.hide {
	animation: slide-out-history 1s ease-in-out forwards;
}

.history-title {
	display: flex;
	justify-content: center;
	font-family: Kanit, cursive;
	font-size: 2vw;
	color: white;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.saved-request {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	border-bottom: 1px solid #4c4d51;
}

.history-request {
	display: flex;
	height: fit-content;
	margin-left: 2vw;
	font-size: 1.5vw;
	color: #fff;
}

.cross-history {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 2.5vw;
	left: 5vw;
}

.cross-history::before,
.cross-history::after {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	height: 30px;
	width: 2px;
	background-color: #fff;
}

.cross-history::before {
	transform: rotate(45deg);
}

.cross-history::after {
	transform: rotate(-45deg);
}

.cross-history:hover::before,
.cross-history:hover::after {
	cursor: pointer;
	background-color: #2e00ff;
}

.credits-container {
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
	overflow: hidden auto;
}

.credits-container.show {
	display: flex;
	z-index: 99999;
	animation: slide-in-credits 0.8s ease-in-out forwards;
}

.credits-container.hide {
	animation: slide-out-credits 1s ease-in-out forwards;
}

.credits-title {
	font-family: Kanit, cursive;
	color: white;
	text-align: center;
}

.credits-contributor {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.contributor-info-container {
	display: flex;
	flex-direction: column;
}

.contributor-links {
	display: flex;
	align-items: center;
}

.contributor-description {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	word-wrap: break-word;
}

.contributor-img {
	padding-right: 2.5vh;
}

.sn-icon {
	padding-right: 1vh;
}

.gh-link {
	color: white;
}

.white-rectangle {
	width: 30%;
	height: 7px;
	background-color: white;
	opacity: 0.8;
	margin-top: auto;
}

.white-rectangle:hover {
	cursor: pointer;
	opacity: 1;
	background: #2e00ff;
}

.footer {
	display: flex;
	position: fixed;
	height: 5%;
	width: 100%;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.footer-content {
	font-style: italic;
	color: white;
}

/* Keyframes */
@keyframes slide-in-menu {
	0% {
		transform: translateX(-175%);
	}

	100% {
		transform: translateX(-75%);
	}
}

@keyframes slide-out-menu {
	0% {
		transform: translateX(-75%);
	}

	100% {
		transform: translateX(-175%);
	}
}

@keyframes slide-in-history {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out-history {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes slide-in-credits {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slide-out-credits {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

@keyframes slide-in-choices {
	0% {
		transform: translateX(-140%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0 0 0 currentcolor;
	}

	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}

	25% {
		box-shadow: 0 0.2em 0 0 currentcolor;
	}

	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}

	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}

	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}

	75% {
		box-shadow: 0 -0.2em 0 0 currentcolor;
	}

	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
