@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* Mobile devices (portrait) */
@media screen and (width < 720px) and (orientation: portrait) {
	.bb-title {
		font-size: 15vw;
	}

	.slogan {
		font-size: 7vw;
	}

	.hamburger-menu-container {
		width: 8vw;
		height: 5vw;
		top: 5vw;
		left: 5vw;
	}

	.mb-line {
		width: 100%;
		height: 1vw;
	}

	.mb-line:nth-child(1) {
		transform: translateY(3vw);
	}

	.mb-line:nth-child(2) {
		transform: translateY(6vw);
	}

	.cross-menu {
		width: 5vw;
		height: 5vw;
		top: 5vw;
		left: 5vw;
	}

	.cross-menu::before,
	.cross-menu::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.menu-div {
		width: 100%;
		height: 100%;
		left: 75%;
	}

	.menu-div.show {
		display: flex;
		z-index: 99998;
		animation: slide-in-menu 1s ease-in-out forwards;
	}

	.menu-div.hide {
		animation: slide-out-menu 1s ease-in-out forwards;
	}

	.choice-div-title {
		font-size: 8vw;
		padding-top: 8vw;
		padding-bottom: 8vw;
	}

	.choice-text {
		font-size: 4vw;
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 4vw;
	}

	.background-img {
		transform: translateY(30%);
		width: 50%;
	}

	.input-container {
		bottom: 7%;
	}

	.form-container {
		width: 85vw;
	}

	.form-container input {
		height: 11vw;
	}

	.input-text {
		font-size: 4vw !important;
	}

	.send-btn {
		width: 20vw;
		height: 11vw;
		margin-left: 10px;
	}

	.loader-container {
		border: 6px solid transparent;
		left: 85.5%;
	}

	.loader {
		width: 3.5vh;
		height: 3.5vh;
	}

	.tips-container {
		display: none;
	}

	.output {
		display: flex;
		height: 55%;
		width: 90%;
		top: 25%;
	}

	.student-logo {
		width: 11vw;
	}

	.ai-logo {
		width: 11vw;
	}

	.bb-answer,
	.student-question {
		font-size: 4vw;
	}

	.pdf-icon-img {
		width: 11vw;
	}

	.dl-btn {
		font-size: 4vw;
	}

	.history-container {
		width: 100%;
		height: 100%;
	}

	.history-title {
		font-size: 8vw;
		padding-top: 8vw;
		padding-bottom: 8vw;
	}

	.history-request {
		margin-left: 6vw;
		font-size: 5vw;
	}

	.cross-history {
		width: 4vw;
		height: 4vw;
		top: 5vw;
		left: 5vw;
	}

	.cross-history::before,
	.cross-history::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.credits-contributor {
		padding-bottom: 5vw;
		margin-left: 15%;
	}

	.contributor-img {
		width: 21vw;
	}

	.sn-icon {
		width: 6vw;
	}

	.contributor-name {
		font-size: 3vw;
	}

	.contributor-role {
		font-size: 3vw;
	}

	.gh-link {
		font-size: 3vw;
	}

	.footer-content {
		font-size: 3.5vw;
	}
}

/* Mobile - Galaxy fold (portrait) */
@media screen and (width <= 280px) and (orientation: portrait) {
	.hamburger-menu-container {
		width: 8vw;
		height: 5vw;
		top: 5vw;
		left: 5vw;
	}

	.mb-line {
		width: 100%;
		height: 1vw;
	}

	.mb-line:nth-child(1) {
		transform: translateY(3vw);
	}

	.mb-line:nth-child(2) {
		transform: translateY(6vw);
	}

	.input-text {
		font-size: 4vw !important;
	}

	.loader-container {
		border: 6px solid transparent;
		left: 84.75%;
	}

	.loader {
		width: 3vh;
		height: 3vh;
	}

	.icon-link {
		margin-left: 40px;
	}

	.saved-request {
		font-size: 80%;
	}

	.history-btn {
		font-size: 70%;
		bottom: 5vw;
		right: 10vw;
	}
}

/* Mobile screens (landscape) */
@media screen and (width <= 1025px) and (height <= 540px) and (orientation: landscape) {
	.hamburger-menu-container {
		width: 3vw;
		height: 3vw;
		top: 2.5vw;
		left: 5vw;
	}

	.mb-line {
		width: 100%;
		height: 0.5vw;
	}

	.mb-line:nth-child(1) {
		transform: translateY(1.2vw);
	}

	.mb-line:nth-child(2) {
		transform: translateY(2.4vw);
	}

	.cross-menu {
		width: 2vw;
		height: 2vw;
		top: 2.5vw;
		left: 5vw;
	}

	.cross-menu::before,
	.cross-menu::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.menu-div {
		width: 100%;
		height: 100%;
		left: 75%;
	}

	.menu-div.show {
		display: flex;
		z-index: 99998;
		animation: slide-in-menu 1s ease-in-out forwards;
	}

	.menu-div.hide {
		animation: slide-out-menu 1s ease-in-out forwards;
	}

	.choice-div-title {
		font-size: 3vw;
		padding-top: 4vw;
		padding-bottom: 4vw;
	}

	.choice-text {
		font-size: 1.75vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
		padding-left: 2vw;
	}

	.background-img {
		transform: translate(0%, 95%);
	}

	.input-text {
		font-size: 2vw !important;
	}

	.loader-container {
		border: 5px solid transparent;
		left: 93.5%;
	}

	.loader {
		width: 3vw;
		height: 3vw;
	}

	.tips-container {
		display: none;
	}

	.output {
		display: flex;
		background-color: transparent;
		border: none;
	}

	.history-container {
		width: 100%;
		height: 100%;
	}

	.history-title {
		font-size: 3vw;
		padding-top: 4vw;
		padding-bottom: 4vw;
	}

	.history-request {
		margin-left: 3vw;
		font-size: 2vw;
	}

	.cross-history {
		width: 2vw;
		height: 2vw;
		top: 2.5vw;
		left: 5vw;
	}

	.cross-history::before,
	.cross-history::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.credits-contributor {
		padding-bottom: 2vw;
		margin-left: 70%;
	}

	.credits-title {
		font-size: 3vw;
	}

	.contributor-img {
		width: 8vw;
	}

	.sn-icon {
		width: 2vw;
	}

	.contributor-name {
		font-size: 1vw;
	}

	.contributor-role {
		font-size: 1vw;
	}

	.gh-link {
		font-size: 1vw;
	}
}

/* Mobile small screens + Galaxy Fold (landscape) */
@media screen and (width <= 719px) and (orientation: landscape) {
	.bb-title {
		font-size: 5vw;
	}

	.slogan {
		font-size: 3.5vw;
	}

	.background-img {
		bottom: 90%;
		width: 20%;
	}

	.input-container {
		bottom: 14%;
	}

	.form-container {
		width: 85vw;
	}

	.form-container input {
		height: 4vw;
	}

	.send-btn {
		width: 8vw;
		height: 5vw;
		margin-left: 10px;
	}

	.loader-container {
		border: 5px solid transparent;
		left: 93.5%;
	}

	.loader {
		width: 3vw;
		height: 3vw;
	}

	.tips-container {
		display: none;
	}

	.output {
		display: flex;
		height: 35%;
		width: 85%;
		top: 25%;
	}

	.student-logo {
		width: 4.5vw;
	}

	.ai-logo {
		width: 4.5vw;
	}

	.bb-answer,
	.student-question {
		font-size: 2vw;
	}

	.pdf-icon-img {
		width: 4.5vw;
	}

	.dl-btn {
		font-size: 2vw;
	}

	.footer-content {
		font-size: 1.5vw;
	}
}

/* Keyframes */
@keyframes slide-in-menu {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out-menu {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
