/* Tablets (landscape) */
@media screen and (width >= 720px) and (width <= 1024px) and (orientation: landscape) {
	.bb-title {
		font-size: 6vw;
	}

	.slogan {
		font-size: 3vw;
	}

	.hamburger-menu-container {
		width: 3%;
		height: 3%;
		top: 2.5vw;
		left: 5vw;
	}

	.mb-line {
		width: 100%;
		height: 0.5vw;
	}

	.mb-line:nth-child(1) {
		transform: translateY(1vw);
	}

	.mb-line:nth-child(2) {
		transform: translateY(2vw);
	}

	.cross-menu {
		width: 5vw;
		height: 5vw;
		top: 5vw;
		left: 5vw;
	}

	.cross-menu::before,
	.cross-menu::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.menu-div {
		width: 40%;
		height: 100%;
		transform: translateX(-50%);
	}

	.menu-div.show {
		display: flex;
		z-index: 99998;
		animation: slide-in-menu 1s ease-in-out forwards;
	}

	.menu-div.hide {
		animation: slide-out-menu 1s ease-in-out forwards;
	}

	.choice-div-title {
		font-size: 2.25vw;
		padding-top: 5vw;
		padding-bottom: 5vw;
	}

	.choice-text {
		font-size: 1.75vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
		padding-left: 2vw;
	}

	.background-img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		width: 20%;
	}

	.input-container {
		bottom: 15%;
	}

	.input-text {
		font-size: 1.75vw !important;
	}

	.form-container {
		width: 80vw;
	}

	.form-container input {
		height: 3.5vw;
	}

	.form-container button {
		height: 3vw;
		width: 5vw;
	}

	.send-btn {
		position: absolute;
		width: 8%;
		left: 91.5%;
	}

	.loader-container {
		border: 5px solid transparent;
		left: 93.75%;
	}

	.loader {
		width: 3vw;
		height: 3vw;
	}

	.tips {
		bottom: 7%;
		font-size: 2vw;
	}

	.output {
		display: flex;
		background-color: transparent;
		border: none;
		top: 30%;
	}

	.student-logo {
		width: 4vw;
	}

	.ai-logo {
		width: 4vw;
	}

	.bb-answer,
	.student-question {
		font-size: 1.5vw;
	}

	.pdf-icon-img {
		width: 3vw;
	}

	.dl-btn {
		font-size: 1.5vw;
	}

	.history-container {
		right: 0;
		width: 45%;
		height: 100%;
	}

	.history-title {
		font-size: 3vw;
		padding-top: 3vw;
		padding-bottom: 3vw;
	}

	.history-request {
		margin-left: 3vw;
		margin-bottom: 1vw;
		font-size: 1.5vw;
	}

	.separator {
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	.cross-history {
		width: 4vw;
		height: 4vw;
		top: 4vw;
		left: 4vw;
	}

	.cross-history::before,
	.cross-history::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.credits-contributor {
		padding-bottom: 2vw;
		margin-left: 70%;
	}

	.credits-title {
		font-size: 3vw;
	}

	.contributor-img {
		width: 8vw;
	}

	.sn-icon {
		width: 2vw;
	}

	.contributor-name {
		font-size: 1vw;
	}

	.contributor-role {
		font-size: 1vw;
	}

	.gh-link {
		font-size: 1vw;
	}

	.footer-content {
		font-size: 1.25vw;
	}
}

/* Tablets (portrait) */
@media screen and (width >= 720px) and (width <= 1024px) and (orientation: portrait) {
	.bb-title {
		font-size: 10vw;
	}

	.slogan {
		font-size: 5vw;
	}

	.hamburger-menu-container {
		width: 4%;
		height: 4%;
		top: 6vw;
		left: 6vw;
	}

	.mb-line {
		width: 100%;
		height: 0.5vw;
	}

	.mb-line:nth-child(1) {
		transform: translateY(1vw);
	}

	.mb-line:nth-child(2) {
		transform: translateY(2vw);
	}

	.cross-menu {
		width: 5vw;
		height: 5vw;
		top: 5vw;
		left: 5vw;
	}

	.cross-menu::before,
	.cross-menu::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.menu-div {
		width: 40%;
		height: 100%;
		transform: translateX(-50%);
	}

	.menu-div.show {
		display: flex;
		z-index: 99998;
		animation: slide-in-menu 1s ease-in-out forwards;
	}

	.menu-div.hide {
		animation: slide-out-menu 1s ease-in-out forwards;
	}

	.choice-div-title {
		font-size: 3vw;
		padding-top: 5vw;
		padding-bottom: 5vw;
	}

	.choice-text {
		font-size: 2.75vw;
		padding-top: 2.75vw;
		padding-bottom: 2.75vw;
		padding-left: 2.75vw;
	}

	.background-img {
		top: 50%;
		transform: translate(0%, -25%);
		margin: 0 auto;
		width: 40%;
	}

	.input-container {
		bottom: 15%;
	}

	.input-text {
		font-size: 2.25vw !important;
	}

	.form-container {
		width: 80vw;
	}

	.form-container input {
		height: 5vw;
	}

	.form-container button {
		height: 4vw;
		width: 6vw;
	}

	.send-btn {
		position: absolute;
		width: 8%;
		left: 91.5%;
	}

	.loader-container {
		border: 6px solid transparent;
		left: 91.5%;
	}

	.loader {
		width: 3.5vw;
		height: 3.5vw;
	}

	.tips {
		bottom: 7%;
		font-size: 3vw;
	}

	.output {
		display: flex;
		background-color: rgb(255 255 255 / 6%);
		border: 4px solid rgb(252 252 252 / 10%);
		height: 56%;
		width: 80vw;
		top: 20%;
	}

	.student-logo {
		width: 5vw;
	}

	.ai-logo {
		width: 5vw;
	}

	.bb-answer,
	.student-question {
		font-size: 2.5vw;
	}

	.pdf-icon-img {
		width: 5vw;
	}

	.dl-btn {
		font-size: 2.5vw;
	}

	.history-container {
		right: 0;
		width: 45%;
		height: 100%;
	}

	.history-title {
		font-size: 3vw;
		padding-top: 3vw;
		padding-bottom: 3vw;
	}

	.history-request {
		margin-left: 3vw;
		font-size: 2vw;
	}

	.cross-history {
		width: 3vw;
		height: 3vw;
		top: 3vw;
		left: 3vw;
	}

	.cross-history::before,
	.cross-history::after {
		top: 0;
		left: 15px;
		height: 30px;
		width: 2px;
	}

	.credits-contributor {
		padding-bottom: 5vw;
		margin-left: 20%;
	}

	.credits-title {
		font-size: 5vw;
	}

	.contributor-img {
		width: 18vw;
	}

	.sn-icon {
		width: 4vw;
	}

	.contributor-name {
		font-size: 3vw;
	}

	.contributor-role {
		font-size: 3vw;
	}

	.gh-link {
		font-size: 3vw;
	}

	.footer-content {
		font-size: 2.5vw;
	}
}
