@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #060c1a;
	height: 100vh;
}

/* Mobile devices */

@media screen and (width <= 720px) {
	/* Header div */
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 20%;
	}

	.bb-title {
		font-family: Kanit, sans-serif;
		font-size: 15vw;
		color: white;
		width: 100%;
		text-align: center;
		transform: translateY(50%);
		z-index: 999;
	}

	.slogan {
		width: 100%;
		font-family: Caveat, cursive;
		font-size: 7vw;
		color: #737593;
		text-align: center;
		transform: translateY(-100%);
	}

	.background-img {
		position: absolute;
		transform: translateY(30%);
		opacity: 0.2;
		width: 50%;
	}

	/* Body div */
	.body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 75%;
	}

	.input-container {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		bottom: 7%;
	}

	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 85vw;
	}

	.form-container input {
		height: 11vw;
	}

	.input-text {
		height: 100%;
		width: 100%;
		font-size: 100%;
		border-radius: 50px;
		border: none;
		transition: 0.2s;
		box-shadow: inset 0 0 5px black;
		padding-left: 10px;
	}

	.send-btn {
		font-family: Kanit, sans-serif;
		width: 20vw;
		margin-left: 10px;
		border-radius: 50px;
		border: none;
		background-color: #4660c8;
		color: white;
		transition: 0.2s all;
		box-shadow: 0 0 5px black;
	}

	.send-btn:hover {
		background-color: #4c4d51;
		cursor: pointer;
	}

	.send-btn:active {
		box-shadow: 0 0 5px black inset;
	}

	.button-img {
		height: 50%;
		width: 50%;
		aspect-ratio: auto;
		transform: translate(-5%, 10%);
	}

	.tips-container {
		display: none;
	}

	.output {
		position: fixed;
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		opacity: 1;
		color: white;
		padding: 1% 2%;
		height: 55%;
		width: 90%;
		top: 25%;
	}

	.bb-answer-container,
	.student-request-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.student-request-container {
		margin-bottom: 5px;
	}

	.student-logo {
		width: 11vw;
	}

	.ai-logo {
		width: 11vw;
	}

	.bb-answer,
	.student-question {
		margin-left: 10px;
		font-size: 4vw;
		word-wrap: break-word;
	}

	/* Footer div */
	.footer {
		display: flex;
		height: 5%;
		width: 100%;
		justify-content: center;
		align-items: center;
		bottom: 0;
	}

	.footer-content {
		font-style: italic;
		font-size: 3.5vw;
		color: white;
	}
}

/* Mobile (Galaxy fold) */
@media screen and (width <= 280px) {
	.input-text {
		font-size: 70%;
	}
}

/* Tablets and iPads horizontal */

@media screen and (width >= 721px) and (width <= 1024px) {
	/* Header div */
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 20%;
		z-index: 999;
	}

	.bb-title {
		font-family: Kanit, cursive;
		font-size: 6vw;
		color: white;
		width: 100%;
		text-align: center;
		transform: translateY(50%);
	}

	.slogan {
		width: 100%;
		font-family: Caveat, cursive;
		font-size: 3vw;
		color: #737593;
		text-align: center;
		transform: translateY(-100%);
	}

	.background-img {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.2;
		backdrop-filter: blur(20px);
		width: 30%;
	}

	/* Body div */
	.body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 75%;
	}

	.input-container {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		bottom: 15%;
	}

	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80vw;
	}

	.form-container input {
		height: 5.25vw;
	}

	.form-container button {
		height: 4.25vw;
	}

	.input-text {
		height: 100%;
		width: 100%;
		font-size: 100%;
		border-radius: 50px;
		border: none;
		transition: 0.2s;
		box-shadow: inset 0 0 5px black;
		padding-left: 10px;
	}

	.send-btn {
		position: absolute;
		font-family: Kanit, sans-serif;
		width: 8%;
		border-radius: 50px;
		border: none;
		background-color: #4660c8;
		color: white;
		transition: 0.2s all;
		box-shadow: 0 0 5px black;
		left: 91%;
	}

	.send-btn:hover {
		background-color: #4c4d51;
		cursor: pointer;
	}

	.send-btn:active {
		box-shadow: 0 0 5px black inset;
	}

	.button-img {
		height: 50%;
		width: 50%;
		transform: translate(-5%, 10%);
	}

	.tips {
		display: flex;
		position: fixed;
		justify-content: center;
		align-items: center;
		bottom: 7%;
		font-family: 'Indie Flower', cursive;
		font-size: 2vw;
		color: #737593;
	}

	.output {
		position: fixed;
		display: flex;
		flex-direction: column;
		background-color: rgb(255 255 255 / 6%);
		border: 4px solid rgb(252 252 252 / 10%);
		border-radius: 30px;
		opacity: 1;
		color: white;
		padding: 1% 2%;
		height: 45%;
		width: 80vw;
		top: 25%;
	}

	.bb-answer-container,
	.student-request-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.student-request-container {
		margin-bottom: 5px;
	}

	.student-logo {
		width: 4vw;
	}

	.ai-logo {
		width: 4vw;
	}

	.bb-answer,
	.student-question {
		margin-left: 10px;
		font-size: 1.5vw;
		word-wrap: break-word;
	}

	/* Footer div */
	.footer {
		display: flex;
		height: 5%;
		width: 100%;
		justify-content: center;
		align-items: center;
		bottom: 0;
	}

	.footer-content {
		font-style: italic;
		font-size: 1.25vw;
		color: white;
	}
}

/* Other devices */

@media screen and (width >= 1025px) {
	/* Header div */
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 20%;
		z-index: 999;
	}

	.bb-title {
		font-family: Kanit, cursive;
		font-size: 5vw;
		color: white;
		width: 100%;
		text-align: center;
		transform: translateY(50%);
		z-index: 999;
	}

	.slogan {
		width: 100%;
		font-family: Caveat, cursive;
		font-size: 2vw;
		color: #737593;
		text-align: center;
		transform: translateY(-100%);
	}

	.background-img {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.2;
		backdrop-filter: blur(20px);
		width: 20%;
	}

	/* Body div */
	.body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 75%;
	}

	.input-container {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		bottom: 13%;
	}

	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80vw;
	}

	.form-container input {
		height: 3vw;
	}

	.form-container button {
		height: 2.5vw;
	}

	.input-text {
		height: 100%;
		width: 100%;
		font-size: 1.5rem;
		border-radius: 50px;
		border: none;
		transition: 0.2s;
		box-shadow: inset 0 0 5px black;
		padding-left: 10px;
	}

	.send-btn {
		position: absolute;
		font-family: Kanit, sans-serif;
		width: 5%;
		border-radius: 50px;
		border: none;
		background-color: #4660c8;
		color: white;
		transition: 0.2s all;
		box-shadow: 0 0 5px black;
		left: 94%;
	}

	.send-btn:hover {
		background-color: #4c4d51;
		cursor: pointer;
	}

	.send-btn:active {
		box-shadow: 0 0 5px black inset;
	}

	.button-img {
		height: 50%;
		width: 50%;
		aspect-ratio: auto;
		transform: translate(-5%, 10%);
	}

	.tips {
		display: flex;
		position: fixed;
		justify-content: center;
		align-items: center;
		bottom: 7%;
		font-family: 'Indie Flower', cursive;
		font-size: 1.25vw;
		color: #737593;
	}

	.output {
		z-index: 999;
		position: fixed;
		display: none;
		flex-direction: column;
		background-color: rgb(255 255 255 / 6%);
		border: 4px solid rgb(252 252 252 / 10%);
		border-radius: 30px;
		color: white;
		padding: 1% 2%;
		height: 49%;
		width: 80vw;
		top: 23%;
		overflow-y: auto;
	}

	.output-appear {
		display: flex;
	}

	.bb-answer-container,
	.student-request-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.student-request-container {
		margin-bottom: 5px;
	}

	.student-logo {
		width: 2.5vw;
	}

	.ai-logo {
		width: 2.5vw;
	}

	.bb-answer,
	.student-question {
		margin-left: 20px;
		font-size: 1.2vw;
		word-wrap: break-word;
	}

	.pdf-icon-img {
		width: 2.5vw;
	}

	.icon-link {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		width: fit-content;
	}

	.icon-link-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 5px;
	}

	.dl-btn {
		background: none !important;
		border: none;
		color: #fff;
		cursor: pointer;
	}

	* {
		scrollbar-width: none;
		scrollbar-color: #403540 #000;
	}

	*::-webkit-scrollbar {
		width: 1.5vh;
	}

	*::-webkit-scrollbar-track {
		margin-top: 4vh;
		margin-bottom: 4vh;
		border-radius: 10px;
		background: #000;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #403540;
		border-radius: 10px;
	}

	.history-btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3.1vw;
		width: fit-content;
		border-radius: 50px;
		border: none;
		color: white;
		box-shadow: 0 0 5px white;
		cursor: pointer;
		bottom: 13%;
		left: 92%;
		background-color: #060c1a;
		font-weight: bold;
	}

	.history-div {
		display: none;
		position: fixed;
		z-index: 999;
		flex-direction: column;
		border: 4px solid rgb(252 252 252 / 10%);
		border-radius: 30px;
		color: white;
		background-color: #060c1a;
		padding: 1% 2%;
		height: 80%;
		width: 21%;
		bottom: 13%;
		left: 65.5%;
		overflow-y: auto;
	}

	.history-div-appear {
		display: flex;
	}

	.history-div-disappear {
		display: none;
	}

	.saved-request {
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		font-size: small;
	}

	.history-request {
		display: flex;
		height: fit-content;
		margin-bottom: 0.75vw;
	}

	.separator {
		display: flex;
		margin-top: 1vw;
		margin-bottom: 1vw;
		border-bottom: 1px solid #4c4d51;
	}

	/* Footer div */
	.footer {
		display: flex;
		height: 5%;
		width: 100%;
		justify-content: center;
		align-items: center;
		bottom: 0;
	}

	.footer-content {
		font-style: italic;
		font-size: 1vw;
		color: white;
	}
}
